%html
  %head
    %meta{charset: 'utf-8'}/
    %title
      Captain Challenge
    = csrf_meta_tags
    = csp_meta_tag
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.3.1/js/all.js"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/navigation'
    = yield
